{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Nbfreeseats</th>
                <th>Seatprice</th>
                <th>Takeofftime</th>
                <th>Publicationdate</th>
                <th>Description</th>
                <th>Pilot</th>
                <th>Plane</th>
                <th>Wasdone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{{ reservation.departure }}</td>
                <td>{{ reservation.arrival }}</td>
                <td>{{ reservation.nbFreeSeats }}</td>
                <td>{{ reservation.seatPrice }}</td>
                <td>{% if reservation.takeOffTime %}{{ reservation.takeOffTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservation.publicationDate %}{{ reservation.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reservation.description }}</td>
                <td>{{ reservation.pilot }}</td>
                <td>{{ reservation.plane }}</td>
                <td>{% if reservation.wasDone %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new reservation</a>
        </li>
    </ul>
{% endblock %}
